[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
flask = "*"
pymongo = "*"
gunicorn = "*"
flask-restplus = "*"

[requires]
python_version = "3.7"
